doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title APL-PS SERVER
    link(rel="stylesheet", href="style.css")
    script(src="https://cdn.tailwindcss.com")
  body
    main.h-screen.flex.flex-wrap.flex-col.justify-center.items-center
      .flex.flex-wrap.flex-col.justify-center.items-center
      div.flex.flex-wrap.flex-col.justify-center.items-center.bounce-in-top
        p.font-bold.text-3xl.text-center WELCOME
        p.bubble-text.text.font-bold.text-center.text-flicker-in-glow APL-PS SERVER
        p.font-bold.text-center @Developed with NodeJS ExpressJS
    script(src="main.js")
